.wholeContainer {
  background-color: black;
  color: white;
  margin-top: 40px;
  padding-top: 10px;
  width: 100%;
}

.empContainer {
  margin-top: 50px;
  width: 100%;
  color: white;
  display: grid;
  place-items: center;
}

.employeeContainer {
  display: grid;
  place-items: center;
  color: white;
}

.employeeText {
  width: 100%;
  padding-left: 40px;
}

.employeeName {
  font-size: 25px;
}

.employeesContainer {
  display: flex;
  margin: 0px;
  flex-wrap: wrap;
  gap: 20px;
}

.employeeImage {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  object-position: cover;
}
